<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>mie350webapp</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>FavouriteController</servlet-name>
		<servlet-class>com.mie.controller.FavouriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavouriteController</servlet-name>
		<url-pattern>/FavouriteController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestController</servlet-name>
		<servlet-class>com.mie.controller.TestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestController</servlet-name>
		<url-pattern>/TestController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FilterController</servlet-name>
		<servlet-class>com.mie.controller.FilterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterController</servlet-name>
		<url-pattern>/FilterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CompareController</servlet-name>
		<servlet-class>com.mie.controller.CompareController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompareController</servlet-name>
		<url-pattern>/CompareController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchWineController</display-name>
		<servlet-name>SearchWineController</servlet-name>
		<servlet-class>com.mie.controller.SearchWineController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchWineController</servlet-name>
		<url-pattern>/SearchWineController</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>WineDetailController</servlet-name>
		<servlet-class>com.mie.controller.WineDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WineDetailController</servlet-name>
		<url-pattern>/WineDetailController</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>