table,th, td {
   border:1px solid grey;
}
table{
	width:95%;
    margin-left:auto;
    margin-right:auto;

}
.testbtn {
    color:grey;
    background-color:white;
    /* border: 1px solid grey; */
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width:15vw;
  }
.outer-div{
    display:inline;
  }

.testbtn:hover{
    color:darkgrey
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    margin-top:1px;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.options{
    padding:10px;
  }
.options:hover{
    background-color:#d3d3d3;
  }
/* 
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */


.category{
  display:inline-block;
  width:15%;
  border:1px solid gray;
}
.wine-card{
  padding:20px;
  border-radius:5px;
}
.wine-card:hover{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#winecontainer{
	margin:20px;
}
.heart{
  float:right;
  width:25px;
}
.empty{
	position:relative;
	top:0;
	left:0;
}
.filled{
    position: absolute;
    top: 21px;
    right: 35px;
}
.noShow{
	display:none !important;
}
.compbtn{
  border:none;
  background-color:#5A0E32;
  color:white;
  padding:5px 10px;;
  border-radius:100px;
}
.compbtn:hover{
  background-color:black;
}

.cstmmodal{
	position: fixed;
    z-index: 10;
    display:block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}
.innermodal{
	background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 200px;
    padding: 50px;
}
.showModal{
	display:block !important;
}