body{
    margin:0px;
}
#header{
    width:100vw;
    height:50px;
    background-color:#5A0E32
}
#quiz{
    display:block;
    margin-left:auto;
    margin-right:auto;
    /* width: 60%; */
}

#quiz h1{
    text-align: center;
}
.option-button{
    background-color:#424242;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.title{
  font-family: 'DM Serif Display', serif;
  font-size:24px;
  color:white;
  padding:10px 10px;
  float:left;

}
.nav-bar{
  float:right;
  font-size:18px;
  padding:14px 10px;
  color:white;
}
.nav-bar p{
  display:inline;
  padding:0px 5px;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius:5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  


/* drop down functionality  */

  table{
    width:95%;
    margin-left:auto;
    margin-right:auto;

  }

  .active{
      background-color:#F1F1F1;
  }
  td{
      padding:10px 10px;
  }
  #attr{
      column-width:30vw;
  }
  tr p{
      margin:10px !important;
      font-size:16px;
  }
