.custom{
    height: 2em;
}

.wine-title{
	font-family: 'DM Serif Display', serif;
	position: relative;
	font-size:40px;
}

.float-adjust{
	float:left;
    margin-right:5px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


p.wine-type{
	line-height: 0.1;
}
p.winery{
	line-height: 0.1;
}

p.region{
	line-height: 0.1;
}

p.year{
	line-height: 0.1;
}

p.bottle-size{
	line-height: 0.1;
}

p.alcohol-content{
	line-height: 0.1;
}

p.sugar-content{
	line-height: 0.1;
}

p.sweetness-description{
	line-height: 0.1;
}





.type-button{
	border:none;
	background-color:#404040;
    color:white;
    font-size:18px;
    padding:8px 12px;;
    margin:20px 4px;
	border-radius:100px;
    position: relative;
    cursor: pointer;
}
.type-button:hover{
    background-color:#252525;
}
.circle-button{
	border:none;
	background-color:#BEBEBE;
	color: white;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 50%;
  	position: relative; 
  	left: 250px; 
}

.find-button{
   border: none;
    background-color: #5A0E32;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    margin: 20px 4px;
    border-radius: 100px;
    position: relative;
}

.favourite-title{
	font-family: 'DM Serif Display', serif;
	position: relative;
	font-size:40px;
	left: 60px; 
}

 .Wineicon {
	margin-left:2%;
	float:left; 
	height:120px;
	width:120px;	
} 

.Downicon1 {
	margin-left:16%;
	float:left; 
	height:135px;
	width:100px;	
} 

.Downicon {
	margin-left:1%;
	float:left; 
	height:135px;
	width:100px;	
} 

.Upicon {
	margin-left:5%;
	float:left; 
	height:135px;
	width:100px;	
} 

.container {
	width:100%;
	height:auto;
	padding:1%;
}

h4 {
    margin:5px;
}

h5{
	margin:15px; 
}

.container hr{
	border-color: #000000;
 	float: none;
  	clear: left;
}
.unactive{
    background-color:rgb(133, 133, 133) !important;
}