#compare{
  transform: translate(0px, 100px);
  position:fixed;
  bottom:0px;
  z-index:100;
  transition: all .2s ease-in-out;
  background-color:rgb(96, 96, 96);
}
#compBtn{
  display:inline;
  background-color:rgb(44, 44, 44);
  color:white;
  padding: 10px 10px;
  position: absolute;
  top: -40px;
  right: 40px;
  cursor:pointer;
}
.showComp{
  transform: translate(0px, 0px) !important;
  transition: all .2s ease-in-out;
}
#searchFunc{
  border:0px;
  padding:10px;
  width:200px;
}
#filltext{
  display: flex;
  justify-content: center;
  padding-top:40px;
}
.compAction{
  float:right;
}
#compContent{
  width:100vw;
  height:100px;
  background-color:white;
}
#compContent{
  background-color: rgb(236, 236, 236);
}
.compCont{
  padding:10px;
  text-align:center;
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); */
  width:25vw;
  height:80px;
  margin:10px;
  background-color: white;
  display:inline-block;
  border-radius:2px;
}
.compCont p{
  font-size:18px;
}
.removeCont{
  width:15px;
  float:right;
}
.removeCont:hover{
  opacity:50%;
}
.innerCont{
  vertical-align: centre;
  padding:8px;
}
.comparebtn{
  float:right;
  vertical-align: sub;
  margin:30px;
  border:none;
  background-color:#5A0E32;
  color:white;
  padding:10px 20px;;
  border-radius:100px;
}
#wineList{
  display:inline;
}
